<ion-content>

  <div class="header-navigation">
    <ion-button fill="clear" class="btn-back-arrow" (click)="voltar()">
      <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>

    <div class="top-nav-icons" *ngIf="emailDoUsuario">
      <div class="icon-tab" [class.active]="abaAtiva === 'perfil'" (click)="trocarAbaSub('perfil')">
        <ion-icon name="person-outline"></ion-icon>
      </div>
      <div class="icon-tab" [class.active]="abaAtiva === 'email'" (click)="trocarAbaSub('email')">
        <ion-icon name="mail-outline"></ion-icon>
      </div>
      <div class="icon-tab" [class.active]="abaAtiva === 'senha'" (click)="trocarAbaSub('senha')">
        <ion-icon name="key-outline"></ion-icon>
      </div>
    </div>
  </div>

  <div class="auth-container dynamic-profile" *ngIf="emailDoUsuario && abaAtiva === 'perfil'">

    <h2 class="main-title">Minha Conta</h2>

    <div class="profile-input-box">
      <label class="input-label">Nome</label>
      <input type="text" [(ngModel)]="nomeUsuario" placeholder="Guest0000">
    </div>

    <button class="btn-save-profile" (click)="salvarNome()">Salvar</button>

    <div class="profile-footer-actions">
      <button class="btn-footer-action action-disconnect" (click)="confirmarDesconectar()">
        Desconectar
      </button>
      <button class="btn-footer-action action-delete" (click)="confirmarDeletarConta()">
        Deletar conta
      </button>
    </div>

  </div>

  <div class="auth-container dynamic-profile" *ngIf="emailDoUsuario && abaAtiva === 'email'">

  <h2 class="main-title">Alterar E-mail</h2>

  <div class="profile-input-box">
    <label class="input-label">Novo e-mail</label>
    <input
      type="email"
      [(ngModel)]="emailNovo"
      placeholder="Novo e-mail">
  </div>

  <button
    class="btn-save-profile"
    (click)="salvarNovoEmail()">
    Enviar confirmação
  </button>

</div>

  <div class="auth-container dynamic-profile" *ngIf="emailDoUsuario && abaAtiva === 'senha'">

  <h2 class="main-title">Alterar senha</h2>

  <p style="text-align:center; margin:20px 0;">
    Um e-mail será enviado para sua conta para que você possa redefinir sua senha.
  </p>

  <button
    class="btn-save-profile"
    (click)="salvarNovaSenha()">
    Enviar e-mail
  </button>

</div>

  <div class="auth-container" *ngIf="!emailDoUsuario">

    <div class="tabs">
      <div class="tab-btn" [class.active]="abaAtiva === 'entrar'" (click)="trocarAba('entrar')">
        Entrar
      </div>
      <div class="tab-btn" [class.active]="abaAtiva === 'criar'" (click)="trocarAba('criar')">
        Criar conta
      </div>
    </div>

    <div *ngIf="abaAtiva === 'entrar'" class="form-content">
      <div class="input-group">
        <ion-icon name="mail-outline" [class.active-icon]="emailLogin.length > 0"></ion-icon>
        <input type="email" placeholder="Email" [(ngModel)]="emailLogin">
      </div>
      <p class="error-msg" *ngIf="erroEmail">{{ erroEmail }}</p>

      <div class="input-group">
        <ion-icon name="key-outline" [class.active-icon]="senhaLogin.length > 0"></ion-icon>
        <input [type]="mostrarSenha ? 'text' : 'password'" placeholder="Senha" [(ngModel)]="senhaLogin">
        <ion-icon class="eye-icon"
          [name]="mostrarSenha ? 'eye-off-outline' : 'eye-outline'"
          (click)="alternarVisibilidadeSenha('senha')">
        </ion-icon>
      </div>
      <p class="error-msg" *ngIf="erroSenha">{{ erroSenha }}</p>

      <button class="btn-submit" (click)="entrar()">Entrar</button>
    </div>

    <div *ngIf="abaAtiva === 'criar'" class="form-content">
      <div class="input-group">
        <ion-icon name="mail-outline" [class.active-icon]="emailCriar.length > 0"></ion-icon>
        <input type="email" placeholder="Email" [(ngModel)]="emailCriar">
      </div>
      <p class="error-msg" *ngIf="erroEmail">{{ erroEmail }}</p>

      <div class="input-group">
        <ion-icon name="key-outline" [class.active-icon]="senhaCriar.length > 0"></ion-icon>
        <input [type]="mostrarSenha ? 'text' : 'password'" placeholder="Senha" [(ngModel)]="senhaCriar">
        <ion-icon class="eye-icon"
          [name]="mostrarSenha ? 'eye-off-outline' : 'eye-outline'"
          (click)="alternarVisibilidadeSenha('senha')">
        </ion-icon>
      </div>
      <p class="error-msg" *ngIf="erroSenha">{{ erroSenha }}</p>

      <div class="input-group">
        <ion-icon name="key-outline" [class.active-icon]="confirmarSenhaCriar.length > 0"></ion-icon>
        <input [type]="mostrarConfirmarSenha ? 'text' : 'password'" placeholder="Confirmar Senha" [(ngModel)]="confirmarSenhaCriar">
        <ion-icon class="eye-icon"
          [name]="mostrarConfirmarSenha ? 'eye-off-outline' : 'eye-outline'"
          (click)="alternarVisibilidadeSenha('confirmar')">
        </ion-icon>
      </div>
      <p class="error-msg" *ngIf="erroConfirmar">{{ erroConfirmar }}</p>

      <button class="btn-submit" (click)="criarConta()">Criar conta</button>
    </div>

  </div>

  <div class="popup-overlay" *ngIf="mostrarPopupSucesso">
    <div class="popup-box">
      <div class="popup-content">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
        <span>Sucesso!</span>
      </div>
      <button class="btn-popup" (click)="irParaEntrar()">Ir para Login</button>
    </div>
  </div>

</ion-content>
