<ion-content>

    <ion-card class="filtro">

        <div class="top-buttons">
            <div class="perfil-icon">
                <ion-icon name="person-circle-outline" [style.color]="(isLoggedIn$ | async) ? '#3c6bc1' : '#34363a'"></ion-icon>
            </div>

            <ion-button id="filtro-trigger" class="icon-button">
                <ion-icon name="funnel"></ion-icon>
            </ion-button>

            <ion-popover trigger="filtro-trigger" trigger-action="click">
                <ng-template>

                    <div class="menu-custom">

                        <div
                            class="opcao"
                            [class.ativa]="filtroSelecionado === 'todos'"
                            (click)="filtroSelecionado = 'todos'">

                            <div class="radio"></div>
                            <span>Todos</span>

                        </div>

                        <div
                            class="opcao"
                            [class.ativa]="filtroSelecionado === 'ligados'"
                            (click)="filtroSelecionado = 'ligados'">

                            <div class="radio"></div>
                            <span>Ligados</span>

                        </div>

                        <div
                            class="opcao"
                            [class.ativa]="filtroSelecionado === 'desligados'"
                            (click)="filtroSelecionado = 'desligados'">

                            <div class="radio"></div>
                            <span>Desligados</span>

                        </div>

                    </div>

                </ng-template>
            </ion-popover>

            <ion-button id="click-trigger">
                <ion-icon slot="start" name="options-outline"></ion-icon>
                Ordenar por
            </ion-button>

            <ion-popover trigger="click-trigger" trigger-action="click">
                <ng-template>

                    <div class="menu-custom">

                        <div
                            class="opcao"
                            [class.ativa]="ordemSelecionada === 'proximo'"
                            (click)="ordemSelecionada = 'proximo'">

                            <div class="radio"></div>
                            <span>Próximo a tocar</span>

                        </div>

                        <div
                            class="opcao"
                            [class.ativa]="ordemSelecionada === 'crescente'"
                            (click)="ordemSelecionada = 'crescente'">

                            <div class="radio"></div>
                            <span>Horário crescente</span>

                        </div>

                        <div
                            class="opcao"
                            [class.ativa]="ordemSelecionada === 'decrescente'"
                            (click)="ordemSelecionada = 'decrescente'">

                            <div class="radio"></div>
                            <span>Horário decrescente</span>

                        </div>

                    </div>

                </ng-template>
            </ion-popover>

        </div>

    </ion-card>

    <ion-title>Nenhum alarme criado</ion-title>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">

        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>

    </ion-fab>

</ion-content>

<ion-footer>

    <ion-tab-bar slot="bottom">

        <ion-tab-button tab="sleep">
            <ion-icon name="moon-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button routerLink="/home" class="active-item">
            <ion-icon name="alarm"></ion-icon>
        </ion-tab-button>

        <ion-tab-button routerLink="/configuracoes">
            <ion-icon name="settings-outline"></ion-icon>
        </ion-tab-button>

    </ion-tab-bar>

</ion-footer>
